:root {
  --vp-button-brand-bg: #60beef;
  --vp-button-brand-hover-bg: #004fa2;
  --vp-c-brand-1: #60beef;
}

.dark {
  --vp-button-brand-bg: #55a5ce;
  --vp-button-brand-hover-bg: #01448d;
  --vp-c-brand-1: #55a5ce;
}
